include ./user
include ./project
include ./news
include ./login
include ./pwd-modify
extends ../layout


block content
    #admin_tab
        +admin_menu()
    #admin_content
      if page.users
        +users()
      if page.projects
        +projects()
      if page.news
        +news()

           //+login()
           //+pwd-modify()
    .clear

//管理页 右侧菜单
mixin admin_menu()
    #admin_menu
        .ui.vertical.menu
          if page.users
            a.active.item(href='users') 人员管理
          else
            a.item(href='users') 人员管理
          if page.projects
            a.active.item(href='projects') 项目管理
          else
            a.item(href='projects') 项目管理
          if page.news
            a.active.item(href='news') 消息管理
          else
            a.item(href='news') 消息管理
            
          a.item 俱乐部介绍
          a.item 管理员密码修改
          a.item 管理员登录
//基本输入框
mixin input-place(type,placeholder,icon,cls)
    .ui.left.icon.input.fluid
            input(type=type,placeholder=placeholder)
            i.icon(class=icon,class=cls)
