mixin login()
    #login
        +input-place('text','管理员用户名','user','admin_name')
        +input-place('password','管理员密码','keyboard','admin_pwd')
        .buttons
            .ui.button.green.ok 确 定
            .ui.button.green.reset 重 置
            .clear