extends layout
block content
    #admin_tab
        +admin_menu()
    #admin_content
        block admin_content
    .clear


mixin admin_menu()
    #admin_menu
        .ui.vertical.menu
            a.active.item 人员管理
            a.item 消息管理
            a.item 项目管理
            a.item 俱乐部介绍
            a.item 管理员密码修改
            a.item 管理员登录



