include base
extends layout
block content
    #news
        .ui.divider
        .ui.header.center.aligned 智能硬件和数据分析俱乐部
        .ui.author-date  宗杨  2015-3-25
        .ui.content
            中山大学（Sun Yat-sen University），简称中大，是中华人民共和国教育部直属的一所综合性全国重点大学，是国家211工程、985工程建设院校，入选“珠峰计划”、“111计划”、“千人计划”、“卓越法律人才教育培养计划”、“卓越医生教育培养计划”，为中管副部级大学，设有研究生院。中山大学位于广东省广州市，由孙中山先生创立于1924年，初名国立广东大学，后为纪念孙中山先生，学校于1926年定名为 “国立中山大学”。今日的中山大学，由1952年院系调整后分设的中山大学和中山医科大学于2001年10月合并而成。截至2013年，中山大学有全日制学生50039人，其中本科生32563人，硕士研究生12349人，博士研究生5127人
          