include base
extends layout
block content
    #projects
        .ui.divider
        .ui.header.center.aligned 项目1
        .ui.author-date  宗杨  2015-3-25
        .ui.content
            截止2014年，中山大学拥有4个国家重点实验室，1个国家工程研究中心，1个国家工程技术研究中心，以及“国家新药（抗肿瘤药物）临床试验”研究中心等国家级科研机构；拥有国家地方联合工程实验室6个；拥有10个教育部重点实验室以及5个教育部工程研究中心；拥有3个卫生部重点实验室以及1个卫生部工程技术研究中心。学校拥有29个广东省重点实验室，13个广东省工程技术研究开发中心，8个广东省工程实验室。[15] 中山大学拥有6个教育部人文社会科学重点研究基地、8个广东省人文社会科学重点研究基地、1个国家汉办重点基地、1个广州市人文社会科学重点研究基地、1个珠海市人文社会科学重点研究基地，2个其他部委研究基地，已覆盖了部、省、市三级文科重点研究基地。