
extends ../admin_layout
block admin_content

    #admin_login
        //+login-in()
        +admin-modify()


mixin login-in()
    #login-in
        +input-place('text','管理员用户名','user','admin_name')
        +input-place('password','管理员密码','keyboard','admin_pwd')
        .buttons
            .ui.button.green.ok 确 定
            .ui.button.green.reset 重 置
            .clear

mixin admin-modify()
    #admin-modify
        +input-place('password','输入原密码','keyboard','old_pwd')
        +input-place('password','输入新密码','keyboard','new_pwd')
        +input-place('password','密码确认','keyboard','again_pwd')
        .buttons
            .ui.button.green.ok 确 定
            .ui.button.green.reset 取 消
            .clear



mixin input-place(type,placeholder,icon,cls)
    .ui.left.icon.input.fluid
            input(type=type,placeholder=placeholder)
            i.icon(class=icon,class=cls)
